@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
* {margin:0; padding:0;}
.app {height:100vh; text-align:center; background-color: rgb(66, 138, 186); color:#fff;}
.content {height:100%; line-height:30px; font-family: 'Song Myung', serif; align-items: center; justify-content: center; display: flex;}